<ion-content fullscreen>
  <form [formGroup]="this" (ngSubmit)="handleSubmit()">
    <ion-text color="dark" class="font-size-large margin-horizontal-auto table bold margin-top-5">
      {{ 'FullNamePage.title' |language }}</ion-text>
    <ion-note *ngFor="let line of 'FullNamePage.note' | language;let first = first; let last = last" color="dark" [class.ion-margin-top]="first" [class.ion-padding-bottom]="last"  class="margin-horizontal-auto table ion-text-center bold">
      {{ line }}
    </ion-note>
    <ion-item class="padding-horizontal-large ion-margin-top">
      <ion-input [formControl]="controls.fullName" type="tel" inputMode="numeric"
        [placeholder]="'FullNamePage.form_fullName_placeholder' | language" color="primary"
        class="bold ion-text-center font-size-large">
      </ion-input>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button type="submit" color="secondary" (click)="handleSubmit()" [disabled]="invalid" class="bottom">
        <ion-icon name="arrow-round-forward" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-input type="submit" hidden [disabled]="invalid"></ion-input>
  </form>
</ion-content>