<ion-content fullscreen class="onboarding">
  <ion-thumbnail class="size-x17">
    <ion-img src="assets/images/welcome-start.png"></ion-img>
  </ion-thumbnail>
  <article
    class="flex-column ion-align-items-center ion-justify-content-between height-parent-2/9 ion-margin-horizontal ion-padding-horizontal">
    <ion-text color="primary" class="font-size-plus bold">
      {{ 'WelcomeStartPage.title' | language }}
    </ion-text>
    <ion-text color="dark" class="flex-column ion-align-items-center">
      <span> {{ 'WelcomeStartPage.content_middle_1' | language }}</span>
      <span> {{ 'WelcomeStartPage.content_middle_2' | language }}</span>
    </ion-text>
    <ion-text color="dark" class="ion-text-center font-size-plus">
      {{ 'WelcomeStartPage.content_footer' | language }}
    </ion-text>
  </article>
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" routerLink="/welcome/welcome-end">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>