<ion-header>
  <ion-toolbar>
    <ion-searchbar animated autocorrect autocomplete spellcheck
      [placeholder]="'CallingCodesModalComponent.searchbar_placeholder' | language">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        {{ 'CANCEL_TEXT' | language }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-virtual-scroll
    [items]="countryService.callingCodes | async | filterBy: [ECallingCode.value, ENation.nativeName, ENation.name] : searchbar.value?.replace('+', '')">
    <ion-item *virtualItem="let i" button (click)="modalController.dismiss(i)">
      <ion-avatar slot="start">
        <ion-img [src]="i[ENation.flag]"></ion-img>
      </ion-avatar>
      <ion-label [class.bold]="isSelected(i)" [color]="isSelected(i) ? 'primary': 'dark'">
        <span>{{ i[ENation.nativeName] }}</span>
        <span>&nbsp;</span>
        <span dir="ltr">(+{{ i[ECallingCode.value] }})</span>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
  </ion-list>
</ion-content>