<ng-template #loadingPlaceholderTpl>
  <ion-skeleton-text animated *ngIf="loading | async"></ion-skeleton-text>
</ng-template>

<ion-header class="fixed top left width-parent" no-border>
  <ion-toolbar class="ion-background-gradient-dark-transparent">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="large" color="light" (click)="handleEdit()" [disabled]="loading | async">
        <ion-icon name="create" class="font-size-large" *ngIf="data | async; else loadingPlaceholerTpl"></ion-icon>
      </ion-button>
      <ion-button color="light" (click)="handleMore($event)" [disabled]="loading | async">
        <ion-icon name="more" class="font-size-super" *ngIf="data | async; else loadingPlaceholerTpl"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-template #slidesLoadingPlaceholder>
    <section class="img-section">
      <ng-container *ngTemplateOutlet="loadingPlaceholerTpl"></ng-container>
    </section>
  </ng-template>
  <ion-slides *ngIf="data | async; else slidesLoadingPlaceholder">
    <ion-slide *ngFor="let image of gallery | async">
      <ion-img class="object-cover object-center img-section" [src]="appService.locationImage(image)">
      </ion-img>
    </ion-slide>
  </ion-slides>
  <ion-item lines="none"
    class="ion-background-transparent minus-self-half-top ion-min-height-1/6-screen ion-padding-start-plus  index-1" mode="ios">
    <ion-fab-button slot="start" class="no-events size-x5" mode="ios"
      [style]="(image | async) && '--background: url('+appService.locationImage(image | async) +') center / cover no-repeat'  | safe: 'style'">
    </ion-fab-button>
    <ion-label class="flex flex-column ion-align-self-end" color="medium">
      <ion-text class="bold"  *ngIf="data | async; else loadingPlaceholerTpl">{{ type | async }} {{ model | async }}</ion-text>
      <ion-note  *ngIf="data | async; else loadingPlaceholerTpl">{{ license | async }}</ion-note>
    </ion-label>
  </ion-item>
  <article>
    <p>
      {{ 'VehiclePage.article_UpOnTheRoad_prefix' | language }}{{ 'monthNames.' + (productionMonth | async) | language }} {{ productionYear | async }}
    </p>
    <p></p>
    <p></p>
  </article>
  <ion-button color="tertiary" expand="full" size="large" class="ion-no-margin width-parent bottom absolute">
    <ion-label class="md-font-size">
      {{ 'VehiclePage.button_public' | language }}
    </ion-label>
  </ion-button>
</ion-content>