<ion-content fullscreen>
  <form [formGroup]="this" (ngSubmit)="handleSubmit()">
    <ion-list>
      <ion-list-header class="flex-column ion-no-padding">
        <ion-text color="dark" class="font-size-large margin-horizontal-auto table bold margin-top-5">
          {{ 'PhonePage.title' |language }}</ion-text>
        <ion-note color="dark" class="margin-horizontal-auto table margin-top-1/2 ion-padding-bottom bold">
          {{ 'PhonePage.note' |language }}
        </ion-note>
      </ion-list-header>
      <ion-item-group class="ion-padding-horizontal">
        <ion-item class="item-select ion-margin-vertical" button detail detail-icon="md-arrow-dropdown"
          (click)="openCallingCodesModal()">
          <ion-avatar slot="start" class="size-x1&1/2 ion-no-margin ion-margin-start">
            <ion-img [src]="value.prefix?.flag"></ion-img>
          </ion-avatar>
          <ion-label color="primary" class="bold">
            <span>{{ value.prefix | util: 'get': ENation.nativeName }}</span>
            <span>&nbsp;</span>
            <span dir="ltr">(+{{value.prefix | util: 'get': ECallingCode.value}})</span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input [formControl]="controls.phone" type="number" [placeholder]="'PhonePage.form_phone_placeholder'|language"
            color="primary" class="bold ion-text-center font-size-large">
          </ion-input>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <ion-input type="submit" hidden [disabled]="invalid"></ion-input>
  </form>
</ion-content>