<ion-content>
  <ion-buttons class="absolute end padding-top-tiny">
    <ion-label class="bold" color="secondary" [class.ion-margin-end]="!vehicles || !vehicles.length">
      {{ 'APP_TITLE'| language }}
    </ion-label>
    <ion-button [disabled]="personService.loadingVehicles | async" *ngIf="vehicles && vehicles.length || (personService.loadingVehicles | async)" color="medium"
      class="padding-horizontal-tiny">
      <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
      <ng-container *ngIf="!(personService.loadingVehicles | async)">
        <ion-icon name="more" class="font-size-super"></ion-icon>
      </ng-container>
    </ion-button>
  </ion-buttons>
  <ng-container>
    <ion-item [button]="vehicles && vehicles.length" lines="none" detail="false" routerLink="/tabs/vehicle">
      <ion-fab-button slot="start" class="no-events" mode="ios"
        [style]="!(personService.loadingVehicles | async) && '--background: url(https://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202017/Magazine-Articles/April/CR-Inline-top-picks-Audi-02-17) center / cover no-repeat'  | safe: 'style'">
        <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
      </ion-fab-button>
      <ion-label class="flex flex-column ion-align-self-end" color="medium">
        <ion-text class="bold">
          <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
          <ng-container *ngIf="!(personService.loadingVehicles | async)">Dialim s3</ng-container>
        </ion-text>
        <ion-note>
          <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
          <ng-container *ngIf="!(personService.loadingVehicles | async)">44-896-30</ng-container>
        </ion-note>
      </ion-label>
    </ion-item>
    <article>
      <ion-text color="primary" class="bold">
        <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
        <ng-container *ngIf="!(personService.loadingVehicles | async)">{{ 'MainPage.state_title' | language: { firstName: 'john' } }}
        </ng-container>
      </ion-text>
      <main class="flex margin-top-tiny">
        <p *ngFor="let state of vehicle.state | keyvalue">
          <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
          <ng-container *ngIf="!(personService.loadingVehicles | async)">
            <ion-icon [src]="state.value.icon.src" [name]="state.value.icon.name" color="medium" class="font-size-large"></ion-icon>
          </ng-container>
          <ion-note color="medium">
            <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
            <ng-container *ngIf="!(personService.loadingVehicles | async)"> 19/03/2019</ng-container>
          </ion-note>
        </p>
      </main>
    </article>
    <ion-toolbar color="primary" mode="ios">
      <ion-label>
        <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
        <ng-container *ngIf="!(personService.loadingVehicles | async)">
          <span>{{ 'MainPage.spendingMoney_title' | language }}</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span>850</span>
          <span>$</span>
        </ng-container>
      </ion-label>
    </ion-toolbar>
    <section class="flex-column ion-justify-content-evenly">
      <ion-text color="primary" class="bold block">
        <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
        <ng-container *ngIf="!(personService.loadingVehicles | async)">{{ 'MainPage.updateDetails_title' | language }}</ng-container>
      </ion-text>
      <ion-fab class="flex ion-justify-content-evenly relative">
        <ion-fab-button color="secondary" *ngFor="let state of vehicle.state | keyvalue" [disabled]="personService.loadingVehicles | async"
          [attr.data-label]="!(personService.loadingVehicles | async) ? (state.value.label | language): ''"
          (click)="openUpdateModal(state.value)">
          <ion-skeleton-text animated *ngIf="(personService.loadingVehicles | async)"></ion-skeleton-text>
          <ng-container *ngIf="!(personService.loadingVehicles | async)">
            <ion-icon [src]="state.value.icon.src" [name]="state.value.icon.name" color="primary"></ion-icon>
          </ng-container>
        </ion-fab-button>
      </ion-fab>
    </section>
  </ng-container>
  <ng-template #emptyState>

  </ng-template>
</ion-content>