<ion-header>
  <ion-toolbar color="primary" class="ion-no-border ion-no-padding">
    <ion-title color="light" class="padding-horizontal-md">
      {{ 'ArchivePage.title' | language }}
    </ion-title>
    <ion-fab-button slot="end" class="ion-margin"
    style="--background: url(https://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202017/Magazine-Articles/April/CR-Inline-top-picks-Audi-02-17) center / cover no-repeat; --background-activated: var(--background);">
  </ion-fab-button>
  </ion-toolbar>
  <ion-tab-bar class="ion-no-border">
    <ion-tab-button *ngFor="let state of vehicle.state | keyvalue" class="ion-no-padding" [attr.data-label]="state.key"
      layout="icon-hide" routerLink="/tabs/archive/{{state.key}}">
      <ion-label class="font-size-medium bold ion-text-uppercase text-over">
        {{ state.value.label | language }}
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>

<ion-content>
  <ion-router-outlet animated="false"></ion-router-outlet>
</ion-content>