<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/phone"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="this" (ngSubmit)="handleSubmit()">
    <ion-text color="dark" class="font-size-large margin-horizontal-auto table bold margin-top-5">
      {{ 'VerificationCodePage.title' |language }}</ion-text>
    <ion-note *ngIf="personService.value | async as person" color="dark"
      class="margin-horizontal-auto table margin-top-1/2 ion-padding-bottom bold">
      {{ 'VerificationCodePage.note' | language : { phone: '+' + person.callingCode + person.phone } }}
    </ion-note>
    <ion-item class="padding-horizontal-large ion-margin-top">
      <ion-input [formControl]="controls.code" type="tel" inputMode="numeric"
        [placeholder]="'VerificationCodePage.form_code_placeholder'|language" color="primary"
        class="bold ion-text-center font-size-large">
      </ion-input>
    </ion-item>
    <ion-input type="submit" hidden [disabled]="invalid"></ion-input>
  </form>
</ion-content>