<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'FuelModalComponent.title' | language }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        {{ 'CANCEL_TEXT' | language }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="this">
    <ion-list>
      <ion-item-group class="flex ion-margin">
        <ion-item class="flex-1">
          <ion-label position="floating" color="primary">
            {{ 'FuelModalComponent.form_price_title' | language }}
          </ion-label>
          <ion-input type="number" [formControl]="controls.price"></ion-input>
        </ion-item>
        <ion-item class="item-select ion-min-height-parent ion-margin-start" button detail detail-icon="md-arrow-dropdown"
          (click)="openCurrencyModal()">
          <ion-label class="bold">
            {{ value.currency?.symbol || value.currency?.code }}
          </ion-label>
        </ion-item>
      </ion-item-group>
      <ion-item class="ion-margin">
        <ion-label position="floating" color="primary">
          {{ 'FuelModalComponent.form_actionDate_title' | language }}
        </ion-label>
        <ion-datetime [monthShortNames]="'monthShortNames' | language" [max]="now" [formControl]="controls.actionDate"
          [cancelText]="'CANCEL_TEXT' | language" [doneText]="'OK_TEXT' | language">
        </ion-datetime>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button type="submit" color="secondary" (click)="handleSubmit()" [disabled]="invalid" class="bottom">
        <ion-icon name="checkmark" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-input type="submit" hidden [disabled]="invalid"></ion-input>
  </form>
</ion-content>