// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

html {
  &:not([dir=rtl]) {
    .start {
      left: 0 !important;
    }

    .end {
      right: 0 !important;
    }
  }

  &[dir=rtl] {
    .start {
      right: 0;
    }

    .end {
      left: 0 !important;
    }
  }
}

.margin-horizontal-tiny-ios.ios {
  @extend .margin-horizontal-tiny;
}

.padding-horizontal-md.md{
  @extend .padding-horizontal;
}

ion-tab-bar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-secondary);
  --color-selected: var(--ion-color-dark);
}

.padding-horizontal{
  padding-right: 1rem;
  padding-left: 1rem;
}


.min-width-content {
  min-width: fit-content !important;
}

.width-content {
  width: fit-content !important;
}

.margin-horizontal-auto {
  margin-right: auto;
  margin-left: auto;
}

.bottom {
  bottom: 0 !important;
}

.fixed {
  position: fixed !important;
}

.flex1 {
  flex: 1;
}

.margin-horizontal {
  margin-right: 1rem;
  margin-left: 1rem;
}

.margin-horizontal-small {
  margin-right: .75rem;
  margin-left: .75rem;
}

.margin-horizontal-tiny {
  margin-right: .625rem;
  margin-left: .625rem;
}

.margin-top-large {
  margin-top: 1.5rem;
}

.margin-top-tiny {
  margin-top: .625rem;
}

.ion-background-transparent {
  --background: transparent !important;
}

.text-over {
  text-overflow: unset !important;
}

.color-medium {
  color: var(--ion-color-medium) !important;
}

.font-size-super {
  font-size: 1.75rem !important;
}

.font-size-large {
  font-size: 1.5rem !important;
}

.font-size-plus {
  font-size: 1.125rem;
}

.font-size {
  font-size: 1rem !important;
}

.font-size-medium {
  font-size: .875rem;
}

.font-size-small {
  font-size: .75rem;
}

.font-size-tiny {
  font-size: .625rem;
}

.no-outline {
  outline: unset;
}

ion-tab-button {
  @extend .no-outline;
}

.ion-no-border {
  --border-width: 0 !important;
  --border: unset !important;
}

.no-shadow {
  > ion-toolbar {
    @extend .ion-no-border;
  }

  &:after {
    display: none !important;
  }
}

.ion-circle-radius {
  --border-radius: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex !important;
}

.bold {
  font-weight: bold;
}

.vw100 {
  width: 100vw;
}

.block {
  display: block !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.width-parent {
  width: 100% !important;
}

.height-parent {
  height: 100% !important;
}

.size-parent {
  height: 100% !important;
  width: 100% !important;
}

.no-events {
  pointer-events: none !important;
}
